a { color: #0f6ab6; }
.btn { border-radius: 0.3em; }

.btn-primary {
			background-image: linear-gradient(to bottom, #2591ed 0%, #1177cd 100%);
			background-repeat: repeat-x;
			background-color: #1385e5;
			border-color: #1177cd #0f6ab6 #0d5c9e;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:focus {
	box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.25);
}

.btn-default {
	background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #ccc #bdbdbd #adadad;
	color: #333;
	text-shadow: 0 1px 0 white;
}
.btn-default:focus {
	border-color: #1385e5;
	box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1);
	color: #333;
	outline: none;
}

.btn-success {
	background-image: linear-gradient(to bottom, #43cd4f 0%, #2fae39 100%);
	background-repeat: repeat-x;
	background-color: #34c240;
	border-color: #2fae39 #299a33 #24862c;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:focus {
	box-shadow: 0 0 0 3px rgba(52, 194, 64, 0.25);
}

.btn-danger {
	background-image: linear-gradient(to bottom, #db5757 0%, #d12d2d 100%);
	background-repeat: repeat-x;
	background-color: #d64242;
	border-color: #d12d2d #bc2929 #a72424;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:focus {
	box-shadow: 0 0 0 3px rgba(214, 66, 66, 0.25);
}
