<div class="">
	<md-subheader ng-class="$ctrl.styles.subtitle">
		Каталог услуг
	</md-subheader>

	<div layout="column" ng-class="$ctrl.styles.formInner">

		<service-list
			title="Группа процессов"
			level="PROCESS_GROUP"
			change="$ctrl.onServiceChange({
				level: level,
				value: value
			})"
			items="$ctrl.newRequestServices.get().PROCESS_GROUP.list">
		</service-list>

		<service-list
			ng-if="$ctrl.newRequestServices.get().PROCESS_GROUP.selected"
			title="Процесс"
			level="PROCESS"
			change="$ctrl.onServiceChange({
				level: level,
				value: value
			})"
			items="$ctrl.newRequestServices.get().PROCESS.list">
		</service-list>

		<service-list
			ng-if="$ctrl.newRequestServices.get().PROCESS.selected"
			title="Процесс"
			level="SUBPROCESS"
			change="$ctrl.onServiceChange({
				level: level,
				value: value
			})"
			items="$ctrl.newRequestServices.get().SUBPROCESS.list">
		</service-list>

		<service-list
			ng-if="$ctrl.newRequestServices.get().SUBPROCESS.selected"
			title="Задача"
			level="TASK"
			change="$ctrl.onServiceChange({
				level: level,
				value: value
			})"
			items="$ctrl.newRequestServices.get().TASK.list">
		</service-list>

		<service-list
			ng-if="$ctrl.newRequestServices.get().TASK.selected"
			title="Задача"
			level="TASK_ELEMENT"
			change="$ctrl.onServiceChange({
				level: level,
				value: value
			})"
			items="$ctrl.newRequestServices.get().TASK_ELEMENT.list">
		</service-list>

		<md-input-container class="md-block">
			<md-checkbox
				class="md-primary"
				ng-model="secret"
				aria-label="Конфиденциально"
				name="confidential">
					Конфиденциально
			</md-checkbox>
		</md-input-container>

	</div>

</div>
