<div>
	<md-subheader ng-class="$ctrl.styles.subtitle">
		Приоритет и сроки
	</md-subheader>

	<div layout="column" ng-class="$ctrl.styles.formInner">

	<md-input-container class="md-block">
		<md-checkbox
			ng-model="$ctrl.model.priority"
			aria-label="Высокий приоритет"
			name="priority">
				Высокий приоритет
		</md-checkbox>
	</md-input-container>

	<div flex layout-gt-sm="row">
		<md-input-container flex-gt-sm>
			<label>Нормативный срок выполнения</label>
			<input ng-model="$ctrl.model.estimate"/>
		</md-input-container>

		<div style="margin:15px 0;">
			<md-datepicker
				ng-model="$ctrl.model.estimateWanted"
				md-placeholder="Желаемый срок выполнения"
				name="desiredResolutionDate">
			</md-datepicker>
		</div>
	</div>

	<md-input-container class="md-block">
		<label>Обоснование приоритета</label>
		<textarea
			ng-model="$ctrl.model.reason"
			md-maxlength="150"
			rows="5"
			md-select-on-focus
			name="priorityReason">
	</md-input-container>
</div>
