<table class="pure-table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дата</th>
			<th>Заголовок</th>
            <th>Задача</th>
			<th>Элемент задачи</th>
			<th>Приоритет</th>
			<th>Конф.</th>
			<th>Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="request in $ctrl.data track by $index">
            <td>{{ request.id }}</td>
            <th width="100px">{{ request.applyDate | localdate }}</th>
			<th>{{ request.header }}</th>
            <th>{{ request.task }}</th>
			<th>{{ request.taskElement }}</th>
			<th>{{ request.priority | priority }}</th>
			<th>{{ request.confidential | confidential }}</th>
			<th>{{ request.status }}</th>
        </tr>
    </tbody>
</table>
