<md-dialog ng-class="newRequest.styles.dialog">

	 <form name="requestForm">

			<md-toolbar ng-class="newRequest.styles.toolbar">
				<div class="md-toolbar-tools">
					<h2>Создать обращение</h2>
				</div>
			</md-toolbar>

			<!-- Форма -->
			<md-content flex ng-class="newRequest.styles.content">

				<!-- Инициатор обращения -->
				<initiator-form
					styles="newRequest.styles"
					data="newRequest.test1"
					change="newRequest.onFormChange({key:key, value:value})">
				</initiator-form>

				<!-- Заказчик обращения -->
				<customer-form
					data="newRequest.test2"
					isud="newRequest.userType.get()"
					styles="newRequest.styles"
					change="newRequest.onFormChange({key:key, value:value})">
				</customer-form>



				<div ng-if="newRequest.userType.get()">
					<md-subheader ng-class="newRequest.styles.subtitle">
						Ответ отправить
					</md-subheader>

					<div layout="column" ng-class="newRequest.styles.formInner">

						<div flex>
							<md-input-container class="md-block">
								<md-radio-group ng-model="pselected" layout="row">
									<md-radio-button class="md-primary" value="1">Только инициатору</md-radio-button>
									<md-radio-button class="md-primary" value="2">Сразу заказчику</md-radio-button>
								</md-radio-group>
							</md-input-container>
						</div>

					</div>

				</div>



				<!-- Каталог услуг -->
				<services-form
					styles="newRequest.styles"
					data="newRequest.newRequestServices.get()"
					change="newRequest.onFormChange({key:key, value:value})">
				</services-form>

				<!-- Приоритет и сроки -->
				<priority-form
					styles="newRequest.styles"
					change="newRequest.onFormChange({key:key, value:value})">
				</priority-form>

				<!-- Суть обращения -->
				<description-form
					styles="newRequest.styles"
					change="newRequest.onFormChange({key:key, value:value})">
				</description-form>

				<!-- Файл -->
				<attach
					styles="newRequest.styles"
					change="newRequest.onFormChange({key:key, value:value})">
				</attach>

			</md-content>

			<!-- Панель действий -->
			<actions-form
					active="newRequest.newRequestForm.get().valid"
					save="newRequest.saveRequest()"
					send="newRequest.sendRequest()"
					cancel="newRequest.dialog.hide()">
			</actions-form>

	 </form>
 </md-dialog>
