<md-dialog ng-class="newRequest.styles.dialog">

	 <form name="requestForm">

			<md-toolbar ng-class="newRequest.styles.toolbar">
				<div class="md-toolbar-tools">
					<h2>Создать обращение</h2>
				</div>
			</md-toolbar>

			<!-- Форма -->
			<md-content flex ng-class="newRequest.styles.content">

				<!-- Инициатор обращения -->
				<initiator-form
					styles="newRequest.styles"
					data="newRequest.test1">
				</initiator-form>

				<!-- Заказчик обращения -->
				<customer-form styles="newRequest.styles"></customer-form>

				<!-- Каталог услуг -->
				<services-form
					styles="newRequest.styles"
					data="newRequest.newRequestServices.get()"
					change="newRequest.OnServiceChange({ level: level, value: value })">
				</services-form>

				<!-- Приоритет и сроки -->
				<priority-form
					styles="newRequest.styles"
					change="newRequest.onFormChange({key: key, value: value})">
				</priority-form>

				<!-- Суть обращения -->
				<description-form
					styles="newRequest.styles"
					change="newRequest.onFormChange({key: key, value: value})">
				</description-form>

			</md-content>
			<!-- Панель действий -->
			<actions-form
					active="newRequest.newRequestForm.get().valid"
					on-cancel="newRequest.dialog.hide()">
			</actions-form>
	 </form>
 </md-dialog>
