<md-dialog style="width:60%; min-width:600px; padding-bottom: 1rem;">

	 <form name="loginForm">

			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Создать обращение</h2>
				</div>
			</md-toolbar>

			<!-- Форма -->
			<md-dialog-content class="md-padding" style="font-size:16px;">

				<!-- Инициатор обращения -->
				<div layout="row" layout-sm="column">
					<div flex="25">
						<md-input-container class="md-block">
								<label >Инициатор обращения</label>
						</md-input-container>
					</div>
					<div flex>

						<div layout="column">

							<div flex>
								<md-input-container class="md-block">
									<label>Field</label>
									<input ng-model="newRequest.data.one.name">
								</md-input-container>
							</div>

							<div flex layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Field</label>
									<input ng-model="newRequest.data.one.n">
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<label>Field</label>
									<input ng-model="newRequest.data.one.b">
								</md-input-container>
							</div>

						</div>

					</div>
				</div>

				<!-- Заказчик обращения -->
				<div layout="row" layout-sm="column">
					<div flex="25">
						<md-input-container class="md-block">
								<label>Заказчик обращения</label>
						</md-input-container>
					</div>
					<div flex>

						<div layout="column">

							<div flex>
								<md-input-container class="md-block">
									<label>Field</label>
									<input ng-model="newRequest.data.two.name">
								</md-input-container>
							</div>

							<div flex layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Field</label>
									<input ng-model="newRequest.data.two.n">
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<label>Field</label>
									<input ng-model="newRequest.data.two.b">
								</md-input-container>
							</div>

						</div>

					</div>
				</div>

				<!-- Каталог услуг -->
				<div layout="row" layout-sm="column">
				  <div flex="25">
						<md-input-container class="md-block">
								<label>Каталог услуг</label>
						</md-input-container>
					</div>
					<!-- Подформа категории -->
						<div flex layout="column">

						  <div flex>
								<md-input-container class="md-block">
										<label>Группа процессов</label>
										<md-select name="group" ng-model="group">
												<md-option value="1">Юридическое сопровождение банковской деятельности</md-option>
												<md-option value="2">Юридическое сопровождение предпроблемной и проблемной задолженности</md-option>
										</md-select>
								</md-input-container>
						  </div>

						  <div flex>
								<md-input-container class="md-block">
									<label>Процесс</label>
									<md-select name="process" ng-model="process">
											<md-option value="1">Юридическое сопровождение банковской деятельности</md-option>
											<md-option value="2">Юридическое сопровождение предпроблемной и проблемной задолженности</md-option>
									</md-select>
								</md-input-container>
						  </div>

							<div flex>
								<md-input-container class="md-block">
									<label>Подпроцесс</label>
									<md-select name="subprocess" ng-model="subprocess">
											<md-option value="1">Юридическое сопровождение банковской деятельности</md-option>
											<md-option value="2">Юридическое сопровождение предпроблемной и проблемной задолженности</md-option>
									</md-select>
								</md-input-container>
							</div>

							<div flex>
								<md-input-container class="md-block">
									<label>Задача</label>
									<md-select name="task" ng-model="task">
											<md-option value="1">Юридическое сопровождение банковской деятельности</md-option>
											<md-option value="2">Юридическое сопровождение предпроблемной и проблемной задолженности</md-option>
									</md-select>
								</md-input-container>
							</div>

							<div flex>
								<md-input-container class="md-block">
									<label>Элементы задачи</label>
									<md-select name="elements" ng-model="elements">
											<md-option value="1">Юридическое сопровождение банковской деятельности</md-option>
											<md-option value="2">Юридическое сопровождение предпроблемной и проблемной задолженности</md-option>
									</md-select>
								</md-input-container>
							</div>
						</div>

				</div>

				<!-- Конфиденциально -->
				<div layout="row" layout-sm="column">
					<div flex="25"></div>

					<div flex>
						<md-input-container class="md-block">
							<md-checkbox ng-model="secret" aria-label="Checkbox 1">
								Конфиденциально
							</md-checkbox>
						</md-input-container>
					</div>
				</div>

				<div layout="row" layout-sm="column" style="border-bottom: 1px solid #ccc;">
					<div flex="25"></div>
					<div flex>
						<md-input-container class="md-block">
							<md-checkbox ng-model="priority" aria-label="Checkbox 1">
								Высокий приоритет
							</md-checkbox>
						</md-input-container>
					</div>
				</div>

				<!-- Сроки -->
				<div layout="row" layout-sm="column" style="border-bottom:1px solid #ccc; padding: 15px 0;">
					<div flex="25">
						<md-input-container class="md-block" style="margin:15px 0;margin-bottom: 20px;">
								<label style="color:black;text-align:right">Сроки</label>
						</md-input-container>
					</div>
						<div flex layout="column">

							<div flex layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Нормативный срок выполнения</label>
									<input ng-model="newRequest.asdsad"/>
								</md-input-container>
								<div style="margin:15px 0;">
									<md-datepicker ng-model="myDate" md-placeholder="Желаемый"></md-datepicker>
								</div>
							</div>

							<div flex>
								<md-input-container class="md-block" style="margin:15px 0;">
									<label>Обоснование приоритета</label>
									<textarea ng-model="qwewqeeeee" md-maxlength="150" rows="5" md-select-on-focus>
								</md-input-container>
							</div>

					</div>
				</div>

				<!-- Суть обращения -->
				<div layout="row" layout-sm="column" style="border-bottom:1px solid #ccc; padding: 15px 0;">
					<div flex="25">
						<md-input-container class="md-block" style="margin:15px 0;margin-bottom: 20px;">
								<label style="color:black;text-align:right">Суть обращения</label>
						</md-input-container>
					</div>

						<div  flex layout="column">

							<div flex>
								<md-input-container class="md-block" style="margin:15px 0;">
									<label>Заголовок</label>
									<input ng-model="newRequest.hdr">
								</md-input-container>
							</div>

							<div flex>
								<md-input-container class="md-block" style="margin:15px 0;">
									<label>Описание</label>
									<textarea ng-model="newRequest.desc" md-maxlength="150" rows="5">
								</md-input-container>
							</div>

						</div>

				</div>

			</md-dialog-content>

			<!-- Панель действий -->
			<md-dialog-actions layout="row">
				<md-button class="md-raised md-primary">
						Отправить
				</md-button>
				<md-button class="md-raised md-primary">
						Сохранить
				</md-button>

				<md-button
					class="md-raised"
					ng-click="newRequest.close()"
					style="margin-right:20px;">
						Отменить
				</md-button>
			</md-dialog-actions>

	 </form>

 </md-dialog>
