<div layout="row" flex style="height:100%;">

    <!-- Фильтр -->
    <md-sidenav
      class="md-sidenav-left md-whiteframe-z2 md-padding"
      layout="column"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')">
        <h3>Фильтр</h3>
    </md-sidenav>


    <!-- Список обращений -->
    <div layout="column" flex style="background:#ccc">

        <md-toolbar ng-class="requests.styles.toolbar">
            <div class="md-toolbar-tools">
                <h1><span>Обращения</span></h1>
                <span flex></span>
                <md-button
                    class="md-raised md-primary"
                    ng-click="requests.newRequestForm()">
                    Создать обращение
                </md-button>
            </div>
        </md-toolbar>

        <md-content layout="column" flex class="md-padding">
            <!-- Список обращений тут -->
            <dtable
                options="requests.dataOptions"
                rows="requests.data" class="material">
            </dtable>
        </md-content>
    </div>

</div>
