<div layout="row" flex style="height:100%;">

    <!-- Фильтр -->
    <md-sidenav
      class="md-sidenav-left md-whiteframe-z2"
      layout="column"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4><span style="font-size: 16px; line-height: 1;">
                    Фильтр
                </span></h4>
            </div>
        </md-toolbar>

        <md-content layout="column" flex class="md-padding">
            <search-filter></search-filter>
        </md-content>
    </md-sidenav>


    <!-- Список обращений -->
    <div layout="column" flex style="background:#ccc">

        <md-toolbar ng-class="requests.styles.toolbar">
            <div class="md-toolbar-tools md-padding">
                <h1><span>Обращения</span></h1>
                <span flex></span>
                <md-button
                    class="md-raised md-primary"
                    ng-click="requests.newRequestForm()">
                    Создать обращение
                </md-button>
            </div>
        </md-toolbar>

        <md-content layout="column"
            flex class="md-padding"
            style="background: rgb(247, 247, 247);">

            <!-- Список обращений -->
            <requests-list
                options="requests.dataOptions"
                data="requests.data">
            </requests-list>

        </md-content>
    </div>

</div>
