<div>
	<md-subheader ng-class="$ctrl.styles.subtitle">
		Суть обращения
	</md-subheader>

	<div layout="column" ng-class="$ctrl.styles.formInner">

		<div flex>
			<md-input-container class="md-block">
				<label>Заголовок</label>
				<input
					ng-model="$ctrl.title"
					ng-model-options="{ debounce: 500 }"
					name="title"
					ng-change="$ctrl.change({
						key:'title', value: $ctrl.title
					})">
			</md-input-container>
		</div>

		<div flex>
			<md-input-container class="md-block">
				<label>Описание</label>
				<textarea
					ng-model="$ctrl.description"
					ng-model-options="{ debounce: 500 }"
					md-maxlength="140"
					rows="5"
					name="description"
					ng-change="$ctrl.change({
						key:'description', value: $ctrl.description
					})">
			</md-input-container>
		</div>

	</div>

</div>
